<h1>Reset Your Password</h1>

<%= form_with url: password_reset_path, scope: :password_reset do |form| %>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.submit "Reset password" %>
  </div>
<% end %>